<table class="table">
    <thead>
      <tr>
        <th>ID Poduct</th>
        <th>Designation</th>
        <th>Description</th>
        <th>Quantite</th>
        <th>Prix</th>
        <th>Category</th>

      </tr>
    </thead>
    <tbody>
        <tr >
                    <td>{{ product.id }}</td>
                    <td>{{ product.designation }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category }}</td>
                   </tr>

    </tbody>
  </table>
