  <table class="table">
    <thead>
      <tr>
        <th>ID Poduct</th>
        <th>Designation</th>
        <th>Description</th>
        <th>Quantite</th>
        <th>Prix</th>
        <th>Category</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of products" [id]="produit.designation" >
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.designation }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.quantity }}</td>
                    <td>{{ produit.price }}</td>
                    <td>{{ produit.category }}</td>
                    <td> <a routerLink="product/update/{{ produit.designation }}" class="btn btn-primary">UPDATE</a></td>
                    <td> <button type="button" class="btn btn-danger"(click)="onDeleteProduit(produit.id)" >SUPPRIMER</button></td>
                    <td> <a routerLink="product/detail/{{ produit.designation }}"   class="btn btn-primary">SEE DETAILS</a></td>
                    <td> <button type="button" class="btn btn-success"(click)="onAddToPanier(produit)" >ADD TO CHART</button></td>
                   <!-- <td> <button type="button" class="btn btn-success"(click)="onDeleteoPanier(produit)" >Ajouter au Panier</button></td> -->
                    <!-- <td> <button type="button" class="btn btn-primary"(click)="onGetAllPanier()" >Ajouter au Panier</button></td> -->

        </tr>

    </tbody>
  </table>
